In [3]:
#from flask import Flask, render_template, request, url_for, redirect 
#from flask_sqlalchemy import SQLAlchemy 
#from sqlalchemy import create_engine
#from sqlalchemy.sql import func
#import pandas as pd

#Python ODBC 
import pyodbc
import sqlalchemy as sal
from sqlalchemy import create_engine
import pandas as pd


# OPEN 
#establish database connection
Driver='ODBC Driver 17 for SQL Server'
Server='SURUBI037'
Database='CAPEX'
Trusted_Connection='yes'
Database_Con = f'mssql+pyodbc://@{Server}/{Database}?driver={Driver}'
xxx = "mssql+pyodbc://SURUBI037/CAPEX?driver=SQL Server?Trusted_Connection=yes"

engine =sal.create_engine(Database_Con)
#engine=sal.create_engine(Database_Con)
conn = engine.connect()

# printing names of the tables present in the database
print(conn.table_names())

AttributeError: 'Connection' object has no attribute 'table_names'

In [ ]:
# checking whether the connection was actually established by selecting and displaying contents of table from the database
result = engine.execute(“select * from tablename”)
for row in result:
print (row)
result.close()

In [ ]:
# checking whether the connection was actually established by selecting and displaying contents of table from the database
result = engine.execute(“select * from tablename”)
for row in result:
print (row)
result.close()

In [4]:


Consulta_SQL = """SELECT [ID_Indicador] ,[NOM_Indicador] ,[TIPO_Indicador] ,[SIRVE_PARA] ,[PROCESO] ,[FORMULA] ,[UNIDADES],[META] 
            ,[TENDENCIA_ESPERADA] ,[FRECUENCIA_MEDICION] ,[FUENTE_INFORMACION] ,[RESPONSABLE] ,[ACTUALIZADO_DATE],[ACTUALIZADO_POR] 
            ,[LOG_SQL] FROM [CAPEX].[dbo].[SGI_Indicadores]
            """ 

pd.read_sql_query(Consulta_SQL, conn)

data = pd.read_sql_query("SELECT [ID_Indicador] ,[NOM_Indicador] ,[TIPO_Indicador] ,[SIRVE_PARA] ,[PROCESO] ,[FORMULA] ,[UNIDADES],[META] ,[TENDENCIA_ESPERADA] ,[FRECUENCIA_MEDICION] ,[FUENTE_INFORMACION] ,[RESPONSABLE] ,[ACTUALIZADO_DATE],[ACTUALIZADO_POR] ,[LOG_SQL] FROM [CAPEX].[dbo].[SGI_Indicadores]", conn)  

data

ObjectNotExecutableError: Not an executable object: 'SELECT [ID_Indicador] ,[NOM_Indicador] ,[TIPO_Indicador] ,[SIRVE_PARA] ,[PROCESO] ,[FORMULA] ,[UNIDADES],[META] \n            ,[TENDENCIA_ESPERADA] ,[FRECUENCIA_MEDICION] ,[FUENTE_INFORMACION] ,[RESPONSABLE] ,[ACTUALIZADO_DATE],[ACTUALIZADO_POR] \n            ,[LOG_SQL] FROM [CAPEX].[dbo].[SGI_Indicadores]\n            '